REDIS_PASS=REDIS_PASSWORD_HERE
APP_REDIS=redis://:REDIS_PASSWORD_HERE@localhost:6379/0

# APP_SESSION_SECRET for express session
APP_SESSION_SECRET=

# Github OAuth app settings
# To create your app, https://github.com/settings/developers
APP_GH_CLIENTID=
APP_GH_SECRET=
